@import url(https://fonts.googleapis.com/css?family=Montserrat:300);

body {
    font-family: "Montserrat", sans-serif;
    /* background-color: #18191A;
    color: #e4e6eb; */
    padding: 5vw;
}

#logo-heading{
    font-size: 50pt;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

/* ------------- Room --------------- */



